AddDefaultCharset UTF-8

<IfModule mod_php.c>
    php_value default_charset "UTF-8"
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*\.php)$ /pages/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^scientific_poster_generator/(.*\.php)$ /scientific_poster_generator/pages/$1 [L]
