#titles {
    margin: 20px;
}

.grid-container {
    padding-top: 10px;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: end;
    align-items: stretch;
}

.grid-container>.item {
    flex: 1 1 10%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    align-items: center;
}

.grid-container>.item:first-child {
    align-self: flex-start;
}

.grid-container>.item img {
    max-width: 100%;
    height: auto;
}

.grid-container>.qr-code {
    order: 1;
}

@media (max-width: 1200px) {
    .grid-container>.item {
        flex: 1 1 33.33%;
    }
}

@media (max-width: 900px) {
    .grid-container>.item {
        flex: 1 1 50%;
    }
}

@media (max-width: 600px) {
    .grid-container>.item {
        flex: 1 1 100%;
    }
}

.large-div {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.item {
    justify-content: center;
    align-items: center;
}

.bottom-div {
    grid-column: 1 / span 7;
}

.small_logo {
    width: 10vw
}

.large_logo {
    max-width: 10vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin: 20px;
    padding: 0;
}

.box {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    border-bottom: 1px solid #83d252;
    margin: 0px;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.box h2 {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;
}

.box-menu {
    /* background-color: #83d252; */

    display: flex;
    align-self: flex-start;
    /* height: 1.2rem; */
    width: 4.35rem;
    /* border-radius: 1.2rem; */

    position: absolute;
    top: 0;
    right: 0rem;

    /* display: none; */
}

div#boxes>div {
    position: relative;
}

h1 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: #0e496a;
}

h2 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: #83d252;
    font-weight: lighter;
}

.bottomtable {
    background-color: white;
    margin: -5px;
    position: absolute;
    left: 0px;
    margin-top: 50px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #d4d4d4;
    margin: 0px;

    display: block;
    overflow: auto;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    font-size: calc(14px + 0.1vw);

    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}

#bgpattern {
    padding: 1vw;
    width: 30%;
    top: 0px;
    right: 0px;
    position: absolute;
}

.sponsors_logo_large {
    width: calc(80px + 0.1vw);
}

.sponsors_logo {
    width: 5vw;
}

#scadslogo {
    padding: 1vw;
    width: 10vw;
    min-width: 200px;
}

h3 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: #0e496a;
}

h4 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: #0e496a;
    font-weight: lighter;
}

table {
    border: 1;
}

#bottom_video {
    width: 100%;
}

@media print {

    button {
        display: none;
    }

    @page {
        margin: 0cm;
    }

    body {
        /* margin: 1.6cm; */
    }

    #bottom_video {
        /* margin-top: 5px; */
        margin-bottom: -10px;
    }

    .grid-container {
        position: revert !important;
    }

    footer {
        page-break-before: verso;
    }
}


@media only screen {
    .container {
        margin-bottom: 300px !important;
    }
}

mjx-container,
#title {
    pointer-events: none;
}

.poster-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* #boxes>div {
    border-style: dashed;
    border-color: rgb(40, 176, 255);
} */

input#typeahead.tt-input {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    /* color: red; */
    height: 100%;
}

.author-item {
    padding-left: 10pt;

    display: flex;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: #83d252;
    border-radius: 7px;
    background-color: white;

    justify-content: space-between;

    font-size: 1rem;
    width: 7rem;
}

.author-item:hover:not([in-iframe]) {
    background-color: #83d2522d;
}

.author-item:hover .author-item-btn {
    display: block;
}

.typeahead-standalone {
    display: flex;
    align-items: stretch;
}

.author-item-btn {
    display: flex;
    align-self: flex-start;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 1.2rem;

    display: none;
}

p[placeholder="plotly"] {
    width: 100%;
    height: 500px;
    /* object-fit: cover; */
}

/* TODO:   find a better way to prevent overflow*/
p.js-plotly-plot>div>div {
    overflow: hidden;
    width: auto;
    /* height: 500px; */

    /* margin: 0 0 0 0; */
}

img.table-img {
    height: 7%;
    width: 7%;
}

img.table-img:hover {
    height: 50%;
    width: 50%;

    overflow: visible;
}

div[data-content]:hover:not([in-iframe]) {
    border: solid;
    border-color: #83d252;
    border-width: 1px;
}

div[data-content]:hover:not([in-iframe]) .box-menu {
    display: block;
}

.toggle-btn {
    /* color: #83d252; */
}

div#toggle_login_box,
div#toggle_register_box {
    display: flex;
    flex-direction: row;

    display: none;

    border-bottom: 2px solid #83d252;

    padding-right: 5px;
}

#iframe-0 {
    /* border: 0px; */
    border: 1px solid red;
}

#posters {
    border: unset !important;
}
