:root {
    --scads-green: #56af31;
    --light-green: #8ecc73;

    --scads-blue: #1275ab;
}

#titles {
    margin: 20px;
}

#logo_headline>img,
#logo_headline>div.header-video {
    user-select: none;
}

.grid-container {
    padding-top: 10px;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: end;
    align-items: stretch;

    user-select: none;
}

.grid-container>.item {
    flex: 1 1 10%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    align-items: center;
}

.grid-container>.item:first-child {
    align-self: flex-start;
}

.grid-container>.item img {
    max-width: 100%;
    height: auto;
}

.grid-container>.qr-code {
    order: 1;
}

@media (max-width: 1200px) {
    .grid-container>.item {
        flex: 1 1 33.33%;
    }
}

@media (max-width: 900px) {
    .grid-container>.item {
        flex: 1 1 50%;
    }
}

@media (max-width: 600px) {
    .grid-container>.item {
        flex: 1 1 100%;
    }
}

.large-div {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.item {
    justify-content: center;
    align-items: center;
}

.bottom-div {
    grid-column: 1 / span 7;

    user-select: none;
}

.small_logo {
    width: 10vw
}

.large_logo {
    max-width: 10vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin: 20px;
    padding: 0;
}

.box {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    border-bottom: 1px solid var(--scads-green);
    margin: 0px;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.box h2 {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;
}

.box-menu {
    /* background-color: #83d252; */

    display: flex;
    align-self: flex-start;
    /* height: 1.2rem; */
    width: 4.35rem;
    /* border-radius: 1.2rem; */

    position: absolute;
    top: 0;
    right: 0rem;

    display: none;
}

.box-img {
    width: 100%;
    object-fit: cover;
}

div#boxes>div {
    position: relative;
}

h1 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: var(--scads-blue);
}

h2 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: var(--scads-green);
    font-weight: lighter;
}

.bottomtable {
    background-color: white;
    margin: -5px;
    position: absolute;
    left: 0px;
    margin-top: 50px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #d4d4d4;
    margin: 0px;

    display: block;
    overflow: auto;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    font-size: calc(14px + 0.1vw);

    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}

#bgpattern {
    padding: 1vw;
    width: 30%;
    top: 0px;
    right: 0px;
    position: absolute;
}

.sponsors_logo_large {
    width: calc(80px + 0.1vw);
}

.sponsors_logo {
    width: 5vw;
}

#scadslogo {
    padding: 1vw;
    width: 10vw;
    min-width: 200px;
}

h3 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: var(--scads-blue);
}

h4 {
    font-family: "Barlow", sans-serif;
    margin: 0;
    color: var(--scads-blue);
    font-weight: lighter;
}

table {
    border: 1;
}

#bottom_video {
    width: 100%;
}

@media print {

    button {
        display: none;
    }

    @page {
        margin: 0cm;
    }

    body {
        /* margin: 1.6cm; */
    }

    #bottom_video {
        /* margin-top: 5px; */
        margin-bottom: -10px;
    }

    .grid-container {
        position: revert !important;
    }

    footer {
        page-break-before: verso;
    }
}


@media only screen {
    .container {
        margin-bottom: 300px !important;
    }
}

mjx-container,
#title {
    pointer-events: none;
}

.poster-slide {
    padding-left: 35px;
    padding-right: 35px;

    width: auto;
    height: 100%;
}

.poster-slide>ul {
    padding: 0 0 0 0;
}

.poster-slide iframe {
    display: block;

    width: 100%;
    height: 900px;
}

.poster-slide iframe.hide {
    width: 0px;
    height: 0px;
    display: none;
}


/* #boxes>div {
    border-style: dashed;
    border-color: rgb(40, 176, 255);
} */

input#typeahead.tt-input {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    /* color: red; */
    height: 100%;
}

.author-item {
    padding-left: 10pt;

    display: flex;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: var(--scads-green);
    border-radius: 7px;
    background-color: white;

    justify-content: space-between;

    font-size: 1rem;
    width: auto;
}

.author-item:hover:not([in-iframe]) {
    background-color: #83d2522d;
}

.author-item:hover .author-item-btn {
    display: block;
}

.ghost-author {
    border: dashed;
    border-color: #83d252;
    border-width: thick;
}

.typeahead-standalone {
    display: flex;
    align-items: stretch;
}

.author-item-btn {
    display: flex;
    align-self: flex-start;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 1.2rem;

    //display: none;
}

.remove-element::before {
    content: "X";
}

p[placeholder="plotly"] {
    width: 100%;
    height: 500px;
    /* object-fit: cover; */

    visibility: hidden;
    font-size: 0;
}

p[placeholder="plotly"] div {
    visibility: visible;
}

/* TODO:   find a better way to prevent overflow*/
p.js-plotly-plot>div>div {
    overflow: hidden;
    width: auto;
    /* height: 500px; */

    /* margin: 0 0 0 0; */
}

img.table-img {
    height: 7%;
    width: 7%;
}

img.table-img:hover {
    /* position: absolute; */

    height: 50%;
    width: 50%;

    overflow: visible;
}

div[data-content]:hover:not([in-iframe]) {
    border: solid;
    border-color: var(--scads-green);
    border-width: 1px;
}

div[data-content]:hover:not([in-iframe]) .box-menu {
    display: block;
}

.toggle-btn {
    /* color: #83d252; */
}

div#toggle_login_box,
div#toggle_register_box {
    display: flex;
    flex-direction: row;

    /* display: none; */

    border-bottom: 2px solid var(--scads-green);

    padding-right: 5px;
}

.account-box-moving {
    position: absolute;
    right: 0px;
    top: 80px;

    overscroll-behavior: contain;
}

input.vertical-marker[type="button"] {
    background-color: var(--scads-blue);
}

.account-box-item {
    display: flex;
    justify-content: flex-start;
}

.account-box-item>div {
    display: flex;

    background-color: var(--light-green);

    border-radius: 15px 0px 0px 15px;

    padding: 15px 15px 15px 0px;
    opacity: 0.98;

    margin-bottom: 5px;
}

.account-box-moving .vertical-marker {
    writing-mode: vertical-rl;
    text-orientation: mixed;

    padding: 5px;
}

.account-box-item>div .stateA {
    display: none;

    width: 0%;
}

/*
@keyframes form-contract {

    0% {
        width: 0%;
    }
} */

.account-box-item:hover {
    display: block;

    animation-name: form-expand-parent;
    animation-duration: 0.5s;

    width: 600px;
}

.account-box-item>div:hover .stateA {
    display: block;

    margin-left: 5px;

    animation-name: form-expand;
    animation-duration: 1s;

    width: 100%;
}

.account-box-item>div:hover .vertical-marker {
    display: none;
}

@keyframes form-expand {

    0% {
        width: 0%;
    }

    40% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes form-expand-parent {

    0% {
        width: 0px;
    }

    100% {
        width: 600px;
    }
}

#posters {
    border: unset !important;
}

.filter-container {
    /* border: 1; */
}

.filter-select {
    display: flex;
    flex-direction: row;
}

#filter>table {
    border-collapse: collapse;
    border: 1px solid rgb(110, 110, 110);
}

tr>div>select,
tr>div>input {
    width: 100%;
}

td>select {
    width: 100%;
}

/* th,
td {
    text-align: left;
} */

table>tr:first-child {
    text-align: center;
}

th {
    font-weight: bold;
}

.filter-container input[type='button'] {}

.filter-category {}

/* https://cssloaders.github.io/ */
.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;

    display: block;

    position: absolute;
    top: 500px;
    left: 50%;
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--scads-green);
    animation: prixClipFix 2s linear infinite;

    display: block;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}

.menu {
    position: fixed;
    left: 10px;
    top: 15%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: white;

    /* overscroll-behavior: ; */
}

.table {
    display: flex;
    justify-content: center;
    /* width: 40%; */
    /* padding-top: 30px; */
    /* width: 70%; */
    box-shadow: 5px 5px 50px 1px rgba(0, 128, 0, 0.1);
}

.table>table {
    width: 100%;
    /* padding: 5px; */
    border-radius: 10px;
    background-color: white;
    /* border-collapse: collapse; */
}

.table>p {
    background-color: var(--scads-blue);
    color: white;
    height: 50px;
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 0px 0px gba(0, 0, 0, 0);
    border: 5px;
    text-align: center;
}

.tables {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* margin-bottom: 250px; */
}

.tables>div {

    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: center;

    padding: 20px;

    opacity: 0.93;
}

.tables>div>div {
    width: 80%%;

    padding-bottom: 30px;
}

table>tr>td {
    padding-left: 4px;
    padding-right: 4px;
}

.table tr:not(tr:first-child):hover {
    background-color: var(--light-green);
}

.table tr:nth-child(2n) {
    background-color: #ececec;
}

table th,
table td {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    border: 0px solid white;
    text-align: center;
}

.table>table>tr:first-child {
    background-color: var(--light-green);
}

td>td {
    display: flex;
    justify-content: center;
}

td>input {
    width: 96%;
}

.bgimg {
    background-image: url("../../img/bgpattern.jpeg");
    background-color: white;
    height: 100%;
    width: 100%;
    //background-position: left;
    //background-repeat: no-repeat;
    //background-size: auto;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;


    background-size: 572px;
    background-repeat: no-repeat;
    background-position-x: 115%;
    background-position-y: -208px;

    /* background: #ffffff url("img/bgpattern.jpeg") no-repeat right top;
    height: 25%;
    width: 25%;
    position: absolute; */
    /* margin-right: -200px; */
}

html {
    overflow: hidden;
}

footer {
    margin-top: 0px;
    /* position: absolute;
    bottom: 0; */
}

input[type="button"] {
    background-color: var(--scads-green);

    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    opacity: 0.94;
}

input[type="button"]:hover {
    background-color: var(--scads-blue);
    transform: translateY(-2px);
}

input[type="button"]:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* input[type="text"]:focus {
    border-color: var(--scads-green);
    transition: 0.5s;
    outline: none;
} */

input[type="checkbox"]:checked {}

.account-menu {
    position: fixed;
    right: 0px;
    top: 5px;
}

.account-menu-item>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    margin-bottom: 10px;
}

.account-menu-item>div>input[type="button"] {
    width: 100%;
    background-color: var(--scads-blue);

    text-align: right;
}

@media (max-width: 1800px) {
    .tables {
        position: absolute;
        top: 300px;
        /* flex-direction: row; */
        justify-content: left;
    }

    .menu {
        top: 0;
        left: 50%;
    }

    .filter-select {
        /* flex-direction: column; */
    }
}

div#authors {
    display: flex;
    flex-direction: row;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.account-status {}

.slider-controls {
    margin-left: 35px;
}
